*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
/.idea/
/.idea/libraries/
/.idea/modules/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
